@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
:root {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: 'Titillium Web', sans-serif;
  color: #066378;
  background-color: #FFF;
  background-image: url(./../img/cover3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.quote {
  font-family: 'Playfair Display', serif;
}

a:visited {
  color: inherit;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.higherPoints {
  color: #00ff2a;
}

.lowerPoints {
  color: #ff4141;
}

strong {
  font-weight: bold;
}

.LoadingCircle,
.LoadingCircle:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.LoadingCircle {
  padding: 10px;
  overflow: hidden;
  margin: 50px auto;
  font-size: .15rem;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #FFF;
  border-right: 1.1em solid #FFF;
  border-bottom: 1.1em solid #FFF;
  border-left: 1.1em solid #519bce;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.QuoteWrapper {
  margin: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  max-width: 1200px;
}

.quote {
  font-size: 2rem;
  color: #ffffff;
}

.quoteAuthor {
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
  color: #e0e0e0;
  font-size: 1rem;
}

.dsNone {
  display: none;
}

.opacityZero {
  opacity: 0;
}

.ReportIssue {
  background-color: #FFF;
  padding: 20px;
  margin: 20px 5px;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.ReportIssue p {
  font-size: 1.2rem;
}

@media screen and (max-width: 1210px) {
  :root {
    font-size: 14px;
  }
  .QuoteWrapper {
    margin: 5px;
  }
  .quote {
    font-size: 1.4rem;
  }
  .quoteAuthor {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=global.css.map */