$maxWidth: 1200px;

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  z-index: 9;
  transition: background-color 175ms ease-in-out;
}

.HeaderBackground {
  background-color: rgba(6, 99, 120, 0.95);
}

.Header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
}

.Header ul li {
  color: #FFF;
  transition: 175ms ease-in-out;
}

.Header ul li a {
  margin: 0px 5px;
}

.Header ul li:hover {
  color: #97efff;
}

.HeaderInfo {
  color: rgba(255, 255, 255, 0.75);
  font-size: .7rem;
  text-transform: uppercase;
}

.HeaderInfo a {
  transition: color 175ms ease-in-out;
}

.HeaderInfo a:hover {
  color: #00d9ff;
}

@media screen and (max-width: $maxWidth + 10px) {
  .navToggle ~ ul {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .navToggle ~ ul li {
    background-color: #29125e;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navToggle:checked ~ ul {
    display: flex;
  }
  
  .navToggleLabel > span {
    display: block;
    background-color: #FFF;
    height: 6px;
    width: 30px;
    position: relative;
  }

  .navToggleLabel > span::before,
  .navToggleLabel > span::after {
    content: '';
    background-color: #FFF;
    height: 6px;
    width: 30px;
    position: absolute;
  }

  .navToggleLabel > span::before {
    top: -10px;
  }

  .navToggleLabel > span::after {
    bottom: -10px;
  }
  
  .navToggleLabel {
    width: 40px;
    height: 40px;
    border: 2px solid #FFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav > ul > li:nth-child(odd) {
    background-color: #00325c;
  }
  nav > ul > li:nth-child(even) {
    background-color: #001347;
  }
  
}